.App {
  text-align: center;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 32px;
  background-color: #222;
  padding: 16px;
  color: white;
  box-shadow: 10px 10px 20px #e5e5e5;
}

.App-title {
  font-size: 1.5em;
  color: #222;
}

.App-intro {
  font-size: large;
}

button {
  font-size: 1.2em;
  cursor: pointer;
  background-color: #222;
  color: white;
}
