.EditorLayout {
  display: flex;
  flex: 1;
}

.EditorLayout .nav {
  /* 12em is the width of the columns */
  flex: 0 0 12em;
  /* put the nav on the left */
  order: -1;
}

.EditorLayout .content {
	text-align: left;
  flex: 1;
  border: 1px solid #ddd;
  cursor: text;
  font-size: 16px;
  margin: 10px;
}

.EditorLayout .public-DraftEditorPlaceholder-root,
.EditorLayout .public-DraftEditor-content {
  padding: 15px;
}

.EditorLayout .public-DraftEditor-content {
  min-height: 100px;
}
